@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    /* background: #525252 !important; */
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 1px;
}

.groupbox {
    /* background: #ccc; */
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 20px;
    border: 1px solid #ccc;
}

input.btn.add-margin {
    margin: 0 15px;
}

.display-inline {
    display: inline;
}

.btn.btn-remove {
    height: 32px;
    width: 32px;
    margin-top: 12px;
    margin-left: 10px;
}