<div>
  <div class="row">
    <div class="col-lg-12 groupbox">
      <div class="row">
        <div class="col-lg-12">
          <h4>Estimate</h4>
        </div>
      </div>
      <ng-container *ngIf="estimateResult; else noEstimate">
        <div class="row">
          <div class="col-lg-6">
            Yearly Cost: {{estimateResult.yearlyCost | currency }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            Per Paycheck Cost: {{estimateResult.perPaycheckCost | currency }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            Net Pay Amount: {{estimateResult.netPayAmount | currency }}
          </div>
        </div>
      </ng-container>
      <ng-template #noEstimate>
        <i>Request an estimate on the left</i>
      </ng-template>
    </div>
  </div>
</div>