<div class="row">
    <div class="col-lg-6">
      <benefit-estimator-request [form]="form" (postBenefitEstimate)="getEstimate()" (addDependent)="addDependent()" (removeDependent)="removeDependent($event)"></benefit-estimator-request>
    </div>
    <div class="col-lg-6">
      <benefit-estimator-results [estimateResult]="benefitEstimateResponse"></benefit-estimator-results>
    </div>
  </div>