<div [formGroup]="form" (keyup.enter)="retrieveEstimate()">

    <div class="row">
      <div class="col-lg-12 groupbox">
        <div class="row">
          <div class="col-lg-12">
            <h4>Employee</h4>
          </div>
        </div>
        <div class="row" formGroupName="employee">
          <div class="col-lg-3">
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="col-lg-offset-3 col-lg-3">
              <input type="button" class="btn btn-primary" value="Get Estimate" (click)="retrieveEstimate()" [disabled]="!form.valid">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 groupbox">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="display-inline">Dependents</h4>
            <input type="button" class="btn btn-secondary add-margin" value="Add" (click)="onAddDependent()">
          </div>
        </div>

        <div class="row">
          <div formArrayName="dependents" class="col-lg-12">
            <div *ngFor="let line of dependentList.controls; let i=index" class="row" [formGroupName]="i">
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                  <input type="button" class="btn btn-danger btn-remove" value="-" (click)="onRemoveDependent(i)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>